@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

nav {
    background-color: rgb(130, 130, 130);
    padding: 15px 0px 15px 0px;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.firma {
    max-width: 50%;
    max-height: 75%;
    display: flex;
    margin-left: 25%;
    margin-top: 50px;

}

body {
    background-color: rgb(36, 36, 36);
}

.HomeTitle {
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 1%;
    color: rgb(62, 60, 60);
    font-weight: bold;
    background-color: rgb(234, 230, 224);
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 50px;
}

.bio {
    justify-content: center;
    color: rgb(130, 130, 130);
    font-weight: bolder;
}

form {
    font-family: 'Josefin Sans', sans-serif;
    color: azure;
}

.bio {
    justify-content: center;
    margin-bottom: 75px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 5vh;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin-top: 1%;
    color: rgb(234, 230, 224);
    font-weight: bold;
    margin-right: 550px;
    margin-top: 50px;
    margin-left: 15px;
}

.video {
    display: flex;
    margin-left: 15px;
    margin-top: 30px;

}

.bioPic {
    max-width: 95%;
    max-height: 95%;

}

.galeria {
    max-width: 95%;
    max-height: 95%;
}

.contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

form {
    margin-top: 20px;
    margin-left: 10px;
}

.imgContacto {
    margin: 20px;
}

@media (max-width:1920px) {
    a:hover {
        transform: color;
        color: blanchedalmond;
        transition: 0.5s;
    }

    .galleryDiv {
        margin-top: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: space-around;
    }

    .gridBio {
        display: grid;
        grid-template-columns: auto auto;
        padding: 50px;

    }

    .igLogo {
        margin: 15px;
    }
}

@media (max-width:768px) {
    a:hover {
        transform: color;
        color: blanchedalmond;
        transition: 0.5s;
    }

    .galleryDiv {
        margin-top: 5%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        justify-content: space-around;
    }
}

@media (max-width:480px) {
    .galleryDiv {
        margin-top: 5%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        justify-content: space-around;
    }

    ul {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-around;
        font-family: 'Josefin Sans', sans-serif;
        font-size: small;
        font-weight: bolder;
    }

    .gridBio {
        display: grid;
        grid-template-columns: auto;
        padding: 50px;
    }
}